:root {
    --bg-color: white;
    --text-color: black;
    --button-bg: #ccc;
    --bc: rgba(255, 251, 240, 1);
    --note: rgba(253, 218, 231, 1);
    --note1: rgba(209, 104, 144, 1);
}
  
[data-theme="dark"] {
    --bg-color: #2D2D2D;
    --text-color: white;
    --button-bg: #444;
    --bc: black;
    --note: rgba(227, 222, 254, 1);
    --note1: rgba(151, 71, 255, 1);
    color: white;
    background-color: black;
}

.DayWeekBox {
    display: flex;
    height: 33vw;
}

.DayBox {
    width: 40%;
    background-color: #FDC7DE17;
    display: flex;
    justify-content: center;
}

.WeekBox {
    width: 60%;
    background-color: #FDC7DE17;
}

.Divider {
    height: 80%;
    width: 1px;
    background-color: lightgray;
    align-self: center;
}

.Bottle {
    position: relative;
}

.Square {
    position: absolute;
    background-color: white;
    border: solid lightgray 1px;
    border-bottom: none;
    height: 8vw;
    width: 5vw;
    top: 34%;
    left: 50%; /* Position it 50% from the left */
    transform: translate(-50%, -50%);
    z-index: 10;
}

.Circle {
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: white;
    border: solid lightgray 1px;
    border-bottom: none;
    height: 13vw;
    width: 13vw;
    border-radius: 10rem;
    margin-top: 110%;
    align-items: center;
    justify-content: center;
    animation: water-waves linear infinite;
  }

.Percentage {
    position: absolute;
    color: white;
    z-index: 10;
    font-weight: bold;
}

.water-wave1 {
  position: absolute;
  top: 30%;
  left: -35%;
  background: #8672BC;
  width: 170%;
  height: 200%;
  border-radius: 40%;
  animation: inherit;
  animation-duration: 8s;
  z-index: 5;
}

.water-wave3 {
  position: absolute;
  top: 30%;
  left: -35%;
  background: #8672BC;
  width: 170%;
  height: 200%;
  border-radius: 40%;
  animation: inherit;
  animation-duration: 9s;
  z-index: 5;
}

.water-wave2 {
  position: absolute;
  top: 33%;
  left: -30%;
  background: #594074;
  width: 170%;
  height: 200%;
  border-radius: 40%;
  animation: inherit;
  animation-duration: 8s;
  z-index: 1;
}

.water-wave4 {
  position: absolute;
  top: 33%;
  left: -30%;
  background: #594074;
  width: 170%;
  height: 200%;
  border-radius: 40%;
  animation: inherit;
  animation-duration: 7s;
  z-index: 1;
}

  @keyframes water-waves {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.Percentage {
    font-size: 1.7vw;
}

.Stat {
    padding: 0 2rem;
    padding-top: 2vw;
    height: 78%;
    display: flex;
    justify-content: space-between;
}

.dividerX {
    height: 1px;
    width: 90%;
    background-color: lightgray;
    margin: 0 auto;
}

.DayAnalytic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WeekDay {
  font-size: 10px;
  padding: 0;
  margin: 0.2rem 0;
  margin-top: 0;
}

.Tower {
    margin-top: auto;
    width: 1rem;
    height: 17vw;
    background-color: #FE93BA;
    border-radius: 1rem;
}

.InfoAnalytics {
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Air {
    margin-bottom: 5rem;
}

.InfoAnalytic{
    display: flex;
    align-items: center;
}

.guideStatWeek {
    margin: 0;
    font-size: 10px;
    width: 100%;
}

.ColorInfo1 {
    width: 0.7rem;
    height: 0.7rem;
    background-color: #D16890;
    margin-right: 0.5rem;
    border-radius: 100%;
}

.ColorInfo2 {
    width: 0.7rem;
    height: 0.7rem;
    background-color: #FE93BA;
    margin-right: 0.5rem;
    border-radius: 100%;
}

.ColorInfo3 {
    width: 0.7rem;
    height: 0.7rem;
    background-color: #FDC7DE;
    margin-right: 0.5rem;
    border-radius: 100%;
}

.StatName {
    display: flex;
    margin-top: 3rem;
}

.DayText {
    width: 40%;
    margin-left: 2vw;
    font-size: large;
    font-weight: bold;
}

.WeekText {
    margin-left: 2vw;
    font-size: large;
    font-weight: bold;
}

.YearBoxB {
    width: 100%;
}

.YearBox {
    width: 90%;
    margin: 0 auto;
}

.TasksInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.DateGraph {
    display: flex;
    font-size: small;
}

.Date {
    margin-left: 1rem;
}

.GraphMonths {
    display: flex;
    justify-content: space-between;
}

.Graph {
    position: relative;
    height: 30vw;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Colum1 {
    position: absolute;
    width: 100%;
    height: 25%;
    border-bottom: solid lightgray 1px;
    border-top: solid lightgray 1px;
}
.Colum2 {
    position: absolute;
    width: 100%;
    height: 50%;
    border-bottom: solid lightgray 1px;
}

.Colum3 {
    position: absolute;
    width: 100%;
    height: 75%;
    border-bottom: solid lightgray 1px;
}

.Colum4 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: solid lightgray 1px;
}

.Month {
    font-size: 10px;
    width: 100%;
    text-align: center;
}

.MonthTower {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.MonthStick {
    height: 90%;
    width: 1px;
    background-color: #FDC7DE;
    margin-top: auto;
}

.wave{
	position: absolute;
	top: 50%;
	left: -50%;
	width:200%;
	height:200%;
	background-color: rgba(134, 114, 188, 1);
	border-radius: 35%;
	animation-name: waves;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	&.one{
		animation-duration: 7000ms;
		opacity: 0.4;
	}

	&.two{
		background-color: rgba(89, 64, 116, 1);
		animation-duration: 9000ms;
	}
	
	&.three{
		animation-duration: 12000ms;
	}
}


@keyframes waves{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.SODA {
    position: absolute;
    width: 400px;
    height: 400px;
}

.shadow-drop-2-center:hover{animation:shadow-drop-2-center .4s cubic-bezier(.25,.46,.45,.94) both}
.shadow-drop-2-center {transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); transform: translateZ(0); box-shadow: 0 0 0 0 transparent;}
@keyframes shadow-drop-2-center{0%{transform:translateZ(0);box-shadow:0 0 0 0 transparent}100%{transform:translateZ(50px);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}
