ul {
    list-style-type: none; /* Removes the dots */
    padding-left: 0;       /* Removes default left padding */
}

.Void {
    margin-left: 3rem;
}

html {
    scrollbar-gutter: auto;
}

.Quote {
    padding-top: 3rem;
    margin-left: -3rem;
    padding-left: 3rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0deg, var(--col), var(--wa));
}

.Titl {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    width: fit-content;
    margin-top: 3rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.TitleP {
    margin: 0;
}

.TitlePS {
    margin: 0;
    margin-left: 1rem;
}

.List {
    display: flex;
    align-items: center;
    height: 10rem;
    margin-right: 3rem;
}

.Me {
    margin: 0;
    color: rgba(182, 29, 172, 1);
    font-weight: bolder;
}

.RealList {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    overflow-x: hidden;
    justify-content: center;
}

.Mee {
    margin: 0;
    margin-top: -1rem;
}

.RightB {
    height: 1rem;
    background-color: rgba(210, 39, 182, 0.57);
    border: none;
    border-radius: 50%;
    height: 1.2rem;
}

.LeftB {
    height: 1rem;
    background-color: rgba(210, 39, 182, 0.57);
    border: none;
    border-radius: 50%;
    height: 1.2rem;
}

.Element {
    height: 100%;
    background-color: var(--a);
    border-radius: 3rem;
    margin-right: 1rem;
}

.Face {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 1rem auto;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

.Num {
    text-align: center;
    margin: 0;
    margin-top: -0.2rem;
}

.Day {
    text-align: center;
    margin: 0;
}

.Cat {
    margin-right: 3rem;
    margin-top: -1rem;
}

.CheckBox {
    margin-bottom: 0.5rem;
    font-size: larger;
}

.Date {
    font-size: 0.8rem;
    margin-left: 0;
    margin-bottom: 3rem;
}

.Hey {
    font-size: 3rem;
    margin: 0;
    margin-top: -1rem;
}

.M {
    margin: 0;
    margin-top: 1rem;
}

.CheckBox:checked {
    background-color: green;
}

.CheckBox:disabled {
    background-color: red;
    cursor: not-allowed;
  }

.CheckBox:checked::after {
    content: '✔';
    color: white;
    font-size: 14px;
    position: absolute;
    left: 3px;
    top: -1px;
}